input_files :
  - config/sample_sheet.csv
protein_delimiter : "+"

output_directory : ./fold_temp
databases_directory : /scratch/AlphaFold_DBs/2.3.2
backend_weights_directory : /scratch/AlphaFold_DBs/2.3.2

feature_directory :
  - "abc"
  - "def"

only_generate_features: False
cluster_jobs: False
clustering_bin_size: 150


create_feature_arguments:
  --save_msa_files: False
  --use_precomputed_msas: True
  --max_template_date: 2050-01-01
  --compress_features: True
  --data_pipeline: alphafold2

structure_inference_arguments:
  --num_predictions_per_model : 1
  --num_cycle: 3
  --fold_backend: alphafold

analyze_structure_arguments:
  --cutoff: 100.0

generate_report_arguments:
  --cutoff: 100.0

feature_create_ram_bytes : 64000
feature_create_ram_scaling : 1.1
structure_inference_ram_bytes: 32000

alphafold_inference_threads : 8
alphafold_inference : "--gres=gpu:3090:1 --partition=gpu --qos=normal"

prediction_container : "docker://kosinskilab/fold:2.1.2"
analysis_container : "docker://kosinskilab/fold_analysis:2.1.2"
